node_modules
src/utility/*.http
src/certs/*.crt
src/certs/*.key
src/certs/*.pem
src/certs/*.srl
src/certs/*.csr
src/certs/*.der
src/certs/*.p12
src/certs/*.pfx
src/certs/*.jks
src/certs/*.jceks
src/certs/*.ca-bundle
src/certs/**
src/logs/
config/
.env
.env.production
src/assets/scripts/*.js
src/webserver/www/game/js/*.js
src/webserver/www/public/js/*.js
*.sqlite
src/utility/*.md
.VSCodeCounter
bun.lockb