services/email.ts linguist-vendored
webserver/www/** linguist-vendored
assets/** linguist-vendored
eslint.config.mjs linguist-vendored
babel.config.ts linguist-vendored
jest.config.ts linguist-vendored
webserver/www/game/js/libs/** linguist-vendored
src/webserver/www/game/*.html linguist-vendored
src/webserver/www/public/*.html linguist-vendored
src/webserver/www/public/css/** linguist-vendored