node_modules
src/utility/*.http
src/certs/*.crt
src/certs/*.key
src/certs/*.pem
src/certs/*.srl
src/certs/*.csr
src/certs/*.der
src/certs/*.p12
src/certs/*.pfx
src/certs/*.jks
src/certs/*.jceks
src/certs/*.ca-bundle
src/logs/
config/
.env
.env.production

assets/scripts/*
!assets/scripts/gamepad.ts
!assets/scripts/packets.ts
!assets/scripts/websocket.ts

assets/maps/*
!assets/maps/main.json

assets/sfx/*
!assets/sfx/attack_sword.mp3

assets/tilesets/*
!assets/tilesets/tiles.png

src/webserver/www/game/js/*.js
src/webserver/www/public/js/*.js
*.sqlite
src/utility/*.md
.VSCodeCounter
bun.lockb