/* Hide the scroll bars */
html,
body {
    overflow: hidden;
}

body {
    background-color: #000;
    margin: 0;
    padding: 0;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("/img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1000;
}

#container {
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
}

#game {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

#players, #current-player {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#overlay {
  z-index: 100;
}

#inventory {
  position: fixed;
  bottom: 10;
  right: -350;
  z-index: 100;
  background: url("/img/ui/ui-inventory-container.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: right ease-in-out 1s;
}

#inventory #grid{
  display: flex;
  flex-wrap: wrap;
  padding: 35px;
  padding-bottom: 15px;
  padding-top: 25px;
  max-width: calc((50px + 10px) * 5 - 30px);
  gap: 5px;
}

#inventory #grid .slot {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
  color: #bdbdbd;
  background: url("/img/ui/ui-inventory-slot.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  user-select: none;
}

#hotbar #grid {
  display: flex;
  padding: 25px;
  padding-left: 35px;
  padding-right: 35px;
}

#hotbar #grid .slot {
  width: 42px;
  height: 42px;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
  color: #bdbdbd;
  background: url("/img/ui/ui-inventory-slot.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  user-select: none;
}

.empty {
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid transparent;
  border-radius: 5px;
  transition: border ease-in-out 0.2s;
}

.empty:hover {
  border: 2px solid rgba(255, 255, 255, 0.7);
  transition: border ease-in-out 0.2s;
}

.common {
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  transition: border ease-in-out 0.2s;
}

.common:hover {
  border: 2px solid rgba(255, 255, 255, 0.7);
  transition: border ease-in-out 0.2s;
}

.uncommon {
  border: 2px solid rgba(52, 235, 73, 0.3);
  border-radius: 5px;
  transition: border ease-in-out 0.2s;
}

.uncommon:hover {
  border: 2px solid rgba(52, 235, 73, 0.7);
  transition: border ease-in-out 0.2s;
}

.rare {
  border: 2px solid rgba(52, 122, 235, 0.3);
  border-radius: 5px;
  transition: border ease-in-out 0.2s;
}

.rare:hover {
  border: 2px solid rgba(52, 122, 235, 0.7);
  transition: border ease-in-out 0.2s;
}

.epic {
  border: 2px solid rgba(189, 52, 235, 0.3);
  border-radius: 5px;
  transition: border ease-in-out 0.2s;
}

.epic:hover {
  border: 2px solid rgba(189, 52, 235, 0.7);
  transition: border ease-in-out 0.2s;
}

.legendary {
  border: 2px solid rgba(235, 156, 52, 0.3);
  border-radius: 5px;
  transition: border ease-in-out 0.2s;
}

.legendary:hover {
  border: 2px solid rgba(235, 156, 52, 0.7);
  transition: border ease-in-out 0.2s;
}

.glow {
  animation: glow 0.3s infinite;
}

/* Slot animation where it glows smoothly from yellow to gold infinitely */
@keyframes glow {
  0% {
    border: 2px solid rgba(255, 255, 0, 0.3);
    box-shadow: 0 0 0px rgba(255, 255, 0, 0.3);
  }
  50% {
    border: 2px solid rgba(255, 215, 0, 0.7);
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.7);
  }
  100% {
    border: 2px solid rgba(255, 255, 0, 0.3);
    box-shadow: 0 0 0px rgba(255, 255, 0, 0.3);
  }
}

#chat-container {
  position: fixed;
  bottom: -162;
  left: 10;
  z-index: 100;
  background: url("/img/ui/ui-chat-container.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 500px;
  height: 226px;
  transition: bottom ease-in-out 1s;
}

#chat {
  padding: 10px;
  overflow-y: auto;
  height: 100%;
  user-select: none;
}

#chat input {
  position: absolute;
  padding: 6px;
  top: 22;
  right: 44;
  left: 40;
  box-sizing: border-box;
  background: transparent;
  color: #000000;
}

#chat-container:focus-within {
  bottom: 25;
  transition: bottom ease-in-out 1s;
}

input {
  outline: none;
  border: none;
}

input::placeholder {
  color: #b17767;
}

#hotbar {
  position: fixed;
  bottom: 10;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  background: url("/img/ui/ui-hotbar-container.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 469px;
  height: 82px;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("/img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 100000;
}

#loading-screen #progress-bar-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: #653B1D;
  border-top: solid 2px #815E44;
}

/* Center it such as that it has a top and bottom padding of 10px*/
#loading-screen #progress-bar {
  background: #469CD9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 0%;
  transform: translateY(23.333%);
  transition: width 0.1s;
}

#stats-container, #target-stats-container {
  position: fixed;
  z-index: 100;
  background: url("/img/ui/ui-stats-container.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 330px;
  height: 110px;
}

#stats-container {
  top: 27;
  left: 120;
}

#target-stats-container {
  top: 27;
  left: 500;
  display: none;
}

#player-image-container {
  position: fixed;
  z-index: 101;
  top: 10;
  left: 10;
  width: 97px;
  height: 102px;
  background: url("/img/ui/ui-player-image.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#health-bar-container, #target-health-bar-container {
  position: absolute;
  top: 18;
  z-index: 101;
  left: 26;
  right: 26;
  height: 44px;
}

#health-progress-bar, #target-health-progress-bar {
  width: 100%;
  height: 100%;
}

/* Max Health */
.green {
  background: url("/img/ui/ui-health-green.png");
}

/* 70% Health */
.yellow {
  background: url("/img/ui/ui-health-yellow.png");  
}
/* */
.orange {
  background: url("/img/ui/ui-health-orange.png");
}

.red {
  background: url("/img/ui/ui-health-red.png");
}

#stamina-bar-container, #target-stamina-bar-container {
  position: absolute;
  top: 77;
  z-index: 101;
  left: 26;
  right: 26;
  height: 8px;
}

#stamina-progress-bar, #target-stamina-progress-bar {
  height: 100%;
  width: 100%;
  background: url("/img/ui/ui-stamina.png");
}

#map-container {
  position: fixed;
  top: 10;
  right: 10;
  z-index: 101;
  width: 218px;
  height: 224px;
  user-select: none;
}

#position {
  color: #fff;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: #ffffff;
  text-shadow: 0 0 5px #000000;
  font-weight: lighter;
  position: absolute;
  position: fixed;
  top: 260;
  right: 25;
  user-select: none;
  z-index: 101;
}

#map-border {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  scale: 1.05;
}

#map img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  border-radius: 50%;
}

#options-menu-container {
  display:none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(2px);
}

#options-menu {
  width: 318px;
  height: 280px;
  align-items: center;
  align-content: center;
  position: absolute;
  top: 525px;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
  background: url("../img/ui/ui-backdrop.png");
  background-repeat: no-repeat;
}

#options-menu-selections-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#options-menu-left-container, #options-menu-right-container  {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-left: 35px;
}

#options-menu-right-container {
  margin-right: 40px;
  align-items: center;
}

#fps-slider, #music-slider, #effects-slider {
  width: 100%;
}

#limit-fps-label {
  text-align: left;
}

#pause-menu-container{
  display:none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(2px);
}

#pause-menu {
  width: 318px;
  height: 280px;
  align-items: center;
  align-content: center;
  position: absolute;
  top: 525px;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
  background: url("../img/ui/ui-backdrop.png");
  background-repeat: no-repeat;
}

#pause-menu-button-container {
  width: 100%;
  height: 100%;
  display: block;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

#pause-menu-button-container button {
  display: block;
  border: none;
  outline: none;
  margin: 25px;
}

#pause-menu-action-back {
  width: 110px;
  height: 32px;
  background: url("../img/ui/ui-back-button.png");
}

#pause-menu-action-back:hover {
  background: url("../img/ui/ui-back-button-hover.png");
  cursor: pointer;
}

#pause-menu-action-back:active {
  background: url("../img/ui/ui-back-button-onPress.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

#pause-menu-action-options {
  width: 110px;
  height: 32px;
  background: url("../img/ui/ui-options-button.png");
}

#pause-menu-action-options:hover {
  background: url("../img/ui/ui-options-button-hover.png");
  cursor: pointer;
}

/* When the options menu is pressed*/
#pause-menu-action-options:active {
  background: url("../img/ui/ui-options-button-onPress.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

#pause-menu-action-exit {
  width: 110px;
  height: 46px;
  background: url("../img/ui/ui-exit-game-button.png");
}

#pause-menu-action-exit:hover {
  background: url("../img/ui/ui-exit-game-button-hover.png");
  cursor: pointer;
}

#pause-menu-action-exit:active {
  background: url("../img/ui/ui-exit-game-button-onPress.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

#stat-screen {
  position: fixed;
  width: 566px;
  height: 484px;
  top: 150;
  left: -570;
  z-index: 100;
  transition: bottom ease-in-out 1s;
  background: url("../img/ui/ui-stats-sheet.png");
  background-repeat: no-repeat;
}

#stats-screen-player-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 125px;
  height: 300;
  left: 398px;
  top: 139px;
  z-index: 100;
  transition: bottom ease-in-out 1s;
}

#stats-screen-health-label, #stats-screen-mana-label {
  padding-top: 15px;
  color: #000;
}

#start-game-button {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #653B1D;
  border: 2px solid #815E44;
  outline: none;
  color: #fff;
  width: 200px;
  height: 50px;
  outline: none;
  cursor: pointer;
}

/* Center of the screen */
#full-map {
  position: fixed;
  z-index: 1000;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 8px solid #b3996a;
  background: rgba(179, 153, 106, 0.2);
}

#full-map img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.self {
  background: #fff;
}

.other {
  background: #ff0000;
}

.dot {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  z-index: 1001;
}