input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #b17767;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
    caret-color: #b17767;
    font-size: 16px;
    font-weight: 600;
}

p {
  color: #b17767;
  font-weight: 600;
}

#register-link {
  position: absolute;
  bottom: 10px;
}

#register-text {
  position: absolute;
  bottom: 15px;
}

a {
  color: #b17767;
  font-weight: 600;
  text-decoration: underline;
}

::-ms-reveal {
  filter: invert(100%);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

#container {
  width: 100%;
  height: 100vh;
  background-color: #f1f1f1;
  background: url("/img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
}

#logo {
  content: url("/img/logo.gif");
  width: auto;
  height: auto;
  /* Position at top center */
  position: absolute;
  right: 0;
  left: 0;
  top: 75px;
  margin: auto;
  /* animation: move_logo 2s infinite ease-in-out; */
}

#login, #register {
  width: 500px;
  height: auto;
  /* Position at top center */
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  margin: auto;
  /* Move up and down smoothly */
  animation: move_login 2s infinite ease-in-out;
}

#login {
  content: url("/img/login.png");
}

#register {
  content: url("../img/registration.png");
}

#login-container, #register-container {
  width: 315px;
  height: 205px;
  align-items: center;
  align-content: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
  padding: 20px;
  z-index: 10000;
}

#login-container {
    top: 525px;
    animation: move_login_container 2s infinite ease-in-out;
}

#register-container {
  top: 525px;
  animation: move_login_container 2s infinite ease-in-out;
}

input[type="text"], input[type="password"] {
  display: block;
  outline: none;
  border: none;
  z-index: 10000;
  font-size: 16px;
  height: 30px;
  width: 92%;
  color: #b17767;
  font-weight: 600;
}

input[type="range"] {
  display: block;
  outline: none;
  border: none;
  z-index: 10000;
  font-size: 16px;
  height: 30px;
  width: 200px;
  color: #000;
  font-weight: 600;
}

#username {
  margin-top: 34px;
  margin-left: 10px;
  background-color: transparent;
}

#password {
  margin-top: 55px;
  margin-left: 10px;
  background-color: transparent;
}

#confirm-password {
  margin-top: 55px;
  margin-left: 10px;
  background-color: transparent;
}

#login-button {
  position: absolute;
  margin-top: 70px;
  background-color: transparent;
  /* Center the button */
  left: 50%;
  transform: translateX(-50%);
  width: 175px;
  height: 70px;
  color: transparent;
  cursor: pointer;
}

#register-email, #register-username, #register-password, #register-confirm-password {
  position: absolute;
  background-color: transparent;
  left: 32px;
  right: 32px;
  width: unset;
}

#register-email{
  top: 12px;
}
#register-username {
  top: 87px;
}

#register-password {
  top: 158px;
}

#register-confirm-password {
  top: 200px;
}

#register-button {
  position: absolute;
  margin-top: 143px;
  background-color: transparent;
  /* Center the button */
  left: 50%;
  transform: translateX(-50%);
  width: 175px;
  height: 70px;
  color: transparent;
  cursor: pointer;
}

/* Move #logo up and down over time very smoothly */
@keyframes move_logo {
  0% {
    top: 165px;
  }
  50% {
    top: 173px;
  }
  100% {
    top: 165px;
  }
}

/* Move #login up and down over time very smoothly and slightly delayed */
@keyframes move_login {
  0% {
    top: 200px;
  }
  50% {
    top: 205px;
  }
  100% {
    top: 200px;
  }
}

/* Move #login-container up and down over time very smoothly and slightly delayed */
@keyframes move_login_container {
  0% {
    top: 525px;
  }
  50% {
    top: 530px;
  }
  100% {
    top: 525px;
  }
}

input[type="range"] {
  display: block;
}

#benchmark {
  /* Position at top center */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  left: 0;
  top: 50px;
  margin: auto;
  flex-direction: column;
}

#benchmark input[type="range"], #benchmark label, #benchmark h1, #benchmark p {
  color: #000;
  font-weight: 600;
}

#benchmark #result p {
  text-align: center;
}