body {
    background-color: #000;
}
#game {
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

canvas {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimizeQuality;
}
