/* Hide the scroll bars */
html,

body {
    overflow: hidden;
}
body {
    background-color: #000;
    margin: 0;
    padding: 0;
}

#container {
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
}

#game {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

#players {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
